*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0f172a;
color:white;
line-height:1.8;
}

.blog-container{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

.blog-title{
font-size:48px;
margin-bottom:20px;
line-height:1.3;
}

.blog-desc{
font-size:18px;
color:#94a3b8;
margin-bottom:50px;
}

.step-box{
background:#111827;
padding:35px;
border-radius:20px;
margin-bottom:35px;
border:1px solid #1e293b;
}

.step-box h2{
font-size:30px;
margin-bottom:20px;
color:#38bdf8;
}

.step-box ul{
padding-left:20px;
margin-top:15px;
}

.step-box li{
color:#cbd5e1;
font-size:16px;
margin-bottom:10px;
}

.step-box img{
width:100%;
margin-top:30px;
border-radius:18px;
}

@media(max-width:768px){

.blog-title{
font-size:34px;
}

.step-box{
padding:25px;
}

.step-box h2{
font-size:24px;
}

}
