/* GRADIENT MIX COLOR THEME */

.logo{
font-size:32px;
font-weight:700;
background:linear-gradient(90deg,#35B462,#38bdf8);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* NAV */

nav a:hover{
color:#38bdf8;
}

nav a::after{
background:linear-gradient(90deg,#35B462,#38bdf8);
}

/* HERO GLOW */

.hero-box::before{
background:#35B46220;
}

.hero-box::after{
background:#38bdf820;
}

/* SMALL TAG */

.hero-text .small{
background:linear-gradient(
90deg,
rgba(53,180,98,0.12),
rgba(56,189,248,0.12)
);

border:1px solid rgba(56,189,248,0.2);

color:#38bdf8;
}

/* PRIMARY BUTTON */

.btn1{
padding:16px 32px;

background:linear-gradient(
90deg,
#35B462,
#38bdf8
);

color:#020617;
text-decoration:none;
border-radius:16px;
font-weight:700;
font-size:15px;
transition:0.3s;

box-shadow:0 10px 30px rgba(56,189,248,0.25);
}

.btn1:hover{
transform:translateY(-4px);
}

/* SECOND BUTTON */

.btn2:hover{
background:rgba(255,255,255,0.08);
border-color:#38bdf8;
}

/* FOOTER */

.footer-box h2{
background:linear-gradient(90deg,#35B462,#38bdf8);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.footer-links a:hover{
color:#38bdf8;
}
